<p class="main-title">Roman's URL shortener</p>
<div class="main-url-insert">
  <%= form_with model: @link, url: save_link_path, as: :post do |f| %>
  <div class="flex-row">
    <p class="preprinted-url">www.romansurl.herokuapp.com/</p>
    <%= f.text_field :short_url, class: "main-short-url" %>
  </div>
  <div class="flex-row redirect">
    <%= inline_svg("rounded-angle-arrow-pointing-down-flip.svg", class: "main-redirect-to margin-top-43") %>
    <p class="main-redirect-to">Redirect To</p>
    <%= inline_svg("rounded-angle-arrow-pointing-down.svg", class: "main-redirect-to margin-top-43") %>
  </div>
  <div class="flex-row-column">
    <%= f.text_field :long_url, class: "main-long-url" %>
    <%= f.submit "Short It", class: "submit-btn" %>
  </div>
<% end %>
</div>
