<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/701520e160.js" crossorigin="anonymous"></script>
    <title>RomansUrlShortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
