<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/701520e160.js" crossorigin="anonymous"></script>
    <title>RomansUrlShortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div class="wrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.65)), url('https://res.cloudinary.com/ddngbvo3j/image/upload/v1570992875/giyvcxffmcfckyokyu7x.jpg');" >
      <% if notice %>
      <p class="alert alert-success notice"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger notice"><%= alert %></p>
      <% end %>
      <div class="devise-btns">
        <% if user_signed_in? %>
          <%= link_to "Add new link", root_path, class: 'navbar-link' %>
          <%= link_to "View your links", no_redirect_links_path, class: 'navbar-link' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
